DATA CLEANING

In [67]:
import numpy as np 
import pandas as pd

In [68]:
data = './data_fortrain.csv'
data_train = pd.read_csv(data, sep = ',')
df_70 = pd.DataFrame(data_train)

print(df_70)

       Unnamed: 0          id  \
0               0  20661494.0
1               1  20647642.0
2               2  20644816.0
3               3  20659813.0
4               5  20639359.0
...           ...         ...
56253      380220  20379774.0
56254      440319  20663057.0
56255      440966  20664354.0
56256      442237  20664377.0
56257      446550  20664387.0

                                                     url       type  \
0      https://www.immoweb.be/en/classified/apartment...  APARTMENT
1      https://www.immoweb.be/en/classified/house/for...      HOUSE
2      https://www.immoweb.be/en/classified/apartment...  APARTMENT
3      https://www.immoweb.be/en/classified/apartment...  APARTMENT
4      https://www.immoweb.be/en/classified/apartment...  APARTMENT
...                                                  ...        ...
56253  https://www.immoweb.be/en/classified/house/for...      HOUSE
56254  https://www.immoweb.be/en/classified/villa/for...      HOUSE
56255  https://www.immoweb.be/en/classified/apartment...  APARTMENT
56256  https://www.immoweb.be/en/classified/apartment...  APARTMENT
56257  https://www.immoweb.be/en/classified/apartment...  APARTMENT

         subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT           2.0            1.0         Brussels
1          HOUSE           4.0            2.0         Brussels
2      APARTMENT           2.0            1.0         Brussels
3      APARTMENT           2.0            2.0         Brussels
4      APARTMENT           2.0            1.0         Brussels
...          ...           ...            ...              ...
56253      HOUSE           4.0            2.0    East Flanders
56254      VILLA           3.0            1.0          Antwerp
56255  APARTMENT           3.0            1.0  Flemish Brabant
56256  APARTMENT           3.0            2.0    West Flanders
56257  APARTMENT           3.0            2.0          Antwerp

                         locality  postCode  ...  hasOffice  toiletCount  \
0                       Etterbeek      1040  ...        NaN          1.0
1                       Etterbeek      1040  ...       True          3.0
2                       Etterbeek      1040  ...        NaN          1.0
3                       Bruxelles      1040  ...        NaN          2.0
4                       ETTERBEEK      1040  ...        NaN          1.0
...                           ...       ...  ...        ...          ...
56253                    Maldegem      9990  ...        NaN          NaN
56254                  Willebroek      2830  ...        NaN          3.0
56255  Grimbergen Strombeek-Bever      1853  ...        NaN          1.0
56256                    Westende      8434  ...        NaN          2.0
56257                     Wilrijk      2610  ...        NaN          2.0

       hasSwimmingPool hasFireplace hasTerrace terraceSurface  \
0                  NaN          NaN       True            7.0
1                  NaN          NaN       True            1.0
2                  NaN          NaN       True            2.0
3                  NaN          NaN       True            3.0
4                  NaN          NaN       True            2.0
...                ...          ...        ...            ...
56253             True          NaN        NaN            NaN
56254             True          NaN       True            NaN
56255              NaN          NaN       True            9.0
56256              NaN          NaN       True            NaN
56257              NaN          NaN       True            NaN

       terraceOrientation accessibleDisabledPeople epcScore     price
0                     NaN                      NaN        C  399000.0
1                     NaN                      NaN        E  895000.0
2                     NaN                      NaN        F  465000.0
3                     NaN                      NaN        B  590000.0
4                     NaN                      NaN        D  375000.0
...                   ...                      ...      ...       ...
56253                 NaN                      NaN      NaN  649000.0
56254                 NaN                      NaN        B  849000.0
56255                 NaN                      NaN        B  299000.0
56256                 NaN                      NaN        A  325000.0
56257                 NaN                      NaN        B  340000.0

[56258 rows x 53 columns]

In [69]:
# Search if there are duplicates and remove it
duplicates = df_70.duplicated()
df_70.drop_duplicates(inplace=True)
print(duplicates.count)

<bound method Series.count of 0        False
1        False
2        False
3        False
4        False
         ...
56253    False
56254    False
56255    False
56256    False
56257    False
Length: 56258, dtype: bool>

In [70]:
na_values = df_70.isnull().sum()
missing_percent = (na_values/ len(df_70)) * 100
print (missing_percent.round(2))

Unnamed: 0                    0.00
id                            0.00
url                           0.00
type                          0.00
subtype                       0.00
bedroomCount                  8.59
bathroomCount                17.06
province                      0.00
locality                      0.00
postCode                      0.00
habitableSurface             15.65
roomCount                    72.76
monthlyCost                 100.00
hasAttic                     84.55
hasBasement                  63.54
hasDressingRoom              96.68
diningRoomSurface            91.47
hasDiningRoom                82.49
buildingCondition            27.84
buildingConstructionYear     39.01
facedeCount                  33.78
floorCount                   53.11
streetFacadeWidth            80.76
hasLift                      76.18
floodZoneType                44.64
heatingType                  41.41
hasHeatPump                  90.66
hasPhotovoltaicPanels        90.06
hasThermicPanels             96.20
kitchenSurface               69.87
kitchenType                  47.73
landSurface                  50.99
hasLivingRoom                46.55
livingRoomSurface            63.89
hasBalcony                  100.00
hasGarden                    80.15
gardenSurface                80.15
gardenOrientation            93.10
parkingCountIndoor           65.08
parkingCountOutdoor          77.27
hasAirConditioning           98.60
hasArmoredDoor               95.29
hasVisiophone                79.76
hasOffice                    87.02
toiletCount                  31.49
hasSwimmingPool              97.74
hasFireplace                 96.29
hasTerrace                   41.15
terraceSurface               64.37
terraceOrientation           86.13
accessibleDisabledPeople    100.00
epcScore                     18.83
price                         5.02
dtype: float64

In [76]:
for col in df_70.columns:
    if missing_percent[col] > 50:
        df_70.drop(columns=col, inplace=True)
print(df_70.info)

<bound method DataFrame.info of        Unnamed: 0          id  \
0               0  20661494.0
1               1  20647642.0
2               2  20644816.0
3               3  20659813.0
4               5  20639359.0
...           ...         ...
56253      380220  20379774.0
56254      440319  20663057.0
56255      440966  20664354.0
56256      442237  20664377.0
56257      446550  20664387.0

                                                     url       type  \
0      https://www.immoweb.be/en/classified/apartment...  APARTMENT
1      https://www.immoweb.be/en/classified/house/for...      HOUSE
2      https://www.immoweb.be/en/classified/apartment...  APARTMENT
3      https://www.immoweb.be/en/classified/apartment...  APARTMENT
4      https://www.immoweb.be/en/classified/apartment...  APARTMENT
...                                                  ...        ...
56253  https://www.immoweb.be/en/classified/house/for...      HOUSE
56254  https://www.immoweb.be/en/classified/villa/for...      HOUSE
56255  https://www.immoweb.be/en/classified/apartment...  APARTMENT
56256  https://www.immoweb.be/en/classified/apartment...  APARTMENT
56257  https://www.immoweb.be/en/classified/apartment...  APARTMENT

         subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT           2.0            1.0         Brussels
1          HOUSE           4.0            2.0         Brussels
2      APARTMENT           2.0            1.0         Brussels
3      APARTMENT           2.0            2.0         Brussels
4      APARTMENT           2.0            1.0         Brussels
...          ...           ...            ...              ...
56253      HOUSE           4.0            2.0    East Flanders
56254      VILLA           3.0            1.0          Antwerp
56255  APARTMENT           3.0            1.0  Flemish Brabant
56256  APARTMENT           3.0            2.0    West Flanders
56257  APARTMENT           3.0            2.0          Antwerp

                         locality  postCode  ...  buildingConstructionYear  \
0                       Etterbeek      1040  ...                    2004.0
1                       Etterbeek      1040  ...                    1910.0
2                       Etterbeek      1040  ...                    1970.0
3                       Bruxelles      1040  ...                    2018.0
4                       ETTERBEEK      1040  ...                    1958.0
...                           ...       ...  ...                       ...
56253                    Maldegem      9990  ...                    2025.0
56254                  Willebroek      2830  ...                    2008.0
56255  Grimbergen Strombeek-Bever      1853  ...                    1964.0
56256                    Westende      8434  ...                       NaN
56257                     Wilrijk      2610  ...                    1964.0

      facedeCount          floodZoneType  heatingType     kitchenType  \
0             1.0         NON_FLOOD_ZONE          GAS   SEMI_EQUIPPED
1             2.0         NON_FLOOD_ZONE      FUELOIL       INSTALLED
2             2.0                    NaN      FUELOIL  HYPER_EQUIPPED
3             NaN  RECOGNIZED_FLOOD_ZONE          GAS  HYPER_EQUIPPED
4             2.0                    NaN          GAS       INSTALLED
...           ...                    ...          ...             ...
56253         4.0                    NaN          NaN             NaN
56254         4.0         NON_FLOOD_ZONE          NaN             NaN
56255         NaN                    NaN          GAS  HYPER_EQUIPPED
56256         NaN                    NaN          GAS             NaN
56257         NaN         NON_FLOOD_ZONE          NaN             NaN

      hasLivingRoom toiletCount hasTerrace  epcScore     price
0              True         1.0       True         C  399000.0
1              True         3.0       True         E  895000.0
2              True         1.0       True         F  465000.0
3              True         2.0       True         B  590000.0
4              True         1.0       True         D  375000.0
...             ...         ...        ...       ...       ...
56253           NaN         NaN        NaN       NaN  649000.0
56254          True         3.0       True         B  849000.0
56255          True         1.0       True         B  299000.0
56256          True         2.0       True         A  325000.0
56257          True         2.0       True         B  340000.0

[56258 rows x 22 columns]>

In [77]:
#Remove unuseful and unrelevant columns: 
df_70= df_70.drop(columns=['url','id','kitchenType','toiletCount','buildingConstructionYear','facedeCount', 'floodZoneType','locality','hasLivingRoom'], errors='ignore')
print(df_70)

       Unnamed: 0       type    subtype  bedroomCount  bathroomCount  \
0               0  APARTMENT  APARTMENT           2.0            1.0
1               1      HOUSE      HOUSE           4.0            2.0
2               2  APARTMENT  APARTMENT           2.0            1.0
3               3  APARTMENT  APARTMENT           2.0            2.0
4               5  APARTMENT  APARTMENT           2.0            1.0
...           ...        ...        ...           ...            ...
56253      380220      HOUSE      HOUSE           4.0            2.0
56254      440319      HOUSE      VILLA           3.0            1.0
56255      440966  APARTMENT  APARTMENT           3.0            1.0
56256      442237  APARTMENT  APARTMENT           3.0            2.0
56257      446550  APARTMENT  APARTMENT           3.0            2.0

              province  postCode  habitableSurface buildingCondition  \
0             Brussels      1040             100.0              GOOD
1             Brussels      1040             270.0     TO_BE_DONE_UP
2             Brussels      1040              87.0            AS_NEW
3             Brussels      1040             104.0            AS_NEW
4             Brussels      1040              90.0     TO_BE_DONE_UP
...                ...       ...               ...               ...
56253    East Flanders      9990             242.0               NaN
56254          Antwerp      2830             252.0            AS_NEW
56255  Flemish Brabant      1853             113.0              GOOD
56256    West Flanders      8434             111.0    JUST_RENOVATED
56257          Antwerp      2610             132.0              GOOD

      heatingType hasTerrace epcScore     price
0             GAS       True        C  399000.0
1         FUELOIL       True        E  895000.0
2         FUELOIL       True        F  465000.0
3             GAS       True        B  590000.0
4             GAS       True        D  375000.0
...           ...        ...      ...       ...
56253         NaN        NaN      NaN  649000.0
56254         NaN       True        B  849000.0
56255         GAS       True        B  299000.0
56256         GAS       True        A  325000.0
56257         NaN       True        B  340000.0

[56258 rows x 13 columns]

In [78]:
# Display head
df_70.head(10)

,Unnamed: 0,type,subtype,bedroomCount,bathroomCount,province,postCode,habitableSurface,buildingCondition,heatingType,hasTerrace,epcScore,price
0,0,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,100.0,GOOD,GAS,True,C,399000.0
1,1,HOUSE,HOUSE,4.0,2.0,Brussels,1040,270.0,TO_BE_DONE_UP,FUELOIL,True,E,895000.0
2,2,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,87.0,AS_NEW,FUELOIL,True,F,465000.0
3,3,APARTMENT,APARTMENT,2.0,2.0,Brussels,1040,104.0,AS_NEW,GAS,True,B,590000.0
4,5,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,90.0,TO_BE_DONE_UP,GAS,True,D,375000.0
5,7,APARTMENT,DUPLEX,3.0,2.0,Brussels,1040,220.0,JUST_RENOVATED,GAS,True,D,950000.0
6,8,APARTMENT,DUPLEX,2.0,1.0,Brussels,1040,187.0,AS_NEW,GAS,True,C,795000.0
7,9,APARTMENT,APARTMENT,1.0,1.0,Brussels,1040,93.0,TO_BE_DONE_UP,FUELOIL,True,F,297000.0
8,10,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,120.0,GOOD,GAS,True,G,435000.0
9,11,APARTMENT,APARTMENT,3.0,1.0,Brussels,1040,119.0,TO_RENOVATE,GAS,True,E,370000.0

In [79]:
# Delete row when the price == 0
df_70 = df_70[df_70['price'] != 0]
print(df_70)

       Unnamed: 0       type    subtype  bedroomCount  bathroomCount  \
0               0  APARTMENT  APARTMENT           2.0            1.0
1               1      HOUSE      HOUSE           4.0            2.0
2               2  APARTMENT  APARTMENT           2.0            1.0
3               3  APARTMENT  APARTMENT           2.0            2.0
4               5  APARTMENT  APARTMENT           2.0            1.0
...           ...        ...        ...           ...            ...
56253      380220      HOUSE      HOUSE           4.0            2.0
56254      440319      HOUSE      VILLA           3.0            1.0
56255      440966  APARTMENT  APARTMENT           3.0            1.0
56256      442237  APARTMENT  APARTMENT           3.0            2.0
56257      446550  APARTMENT  APARTMENT           3.0            2.0

              province  postCode  habitableSurface buildingCondition  \
0             Brussels      1040             100.0              GOOD
1             Brussels      1040             270.0     TO_BE_DONE_UP
2             Brussels      1040              87.0            AS_NEW
3             Brussels      1040             104.0            AS_NEW
4             Brussels      1040              90.0     TO_BE_DONE_UP
...                ...       ...               ...               ...
56253    East Flanders      9990             242.0               NaN
56254          Antwerp      2830             252.0            AS_NEW
56255  Flemish Brabant      1853             113.0              GOOD
56256    West Flanders      8434             111.0    JUST_RENOVATED
56257          Antwerp      2610             132.0              GOOD

      heatingType hasTerrace epcScore     price
0             GAS       True        C  399000.0
1         FUELOIL       True        E  895000.0
2         FUELOIL       True        F  465000.0
3             GAS       True        B  590000.0
4             GAS       True        D  375000.0
...           ...        ...      ...       ...
56253         NaN        NaN      NaN  649000.0
56254         NaN       True        B  849000.0
56255         GAS       True        B  299000.0
56256         GAS       True        A  325000.0
56257         NaN       True        B  340000.0

[56258 rows x 13 columns]

In [80]:
df_70.head(10)

,Unnamed: 0,type,subtype,bedroomCount,bathroomCount,province,postCode,habitableSurface,buildingCondition,heatingType,hasTerrace,epcScore,price
0,0,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,100.0,GOOD,GAS,True,C,399000.0
1,1,HOUSE,HOUSE,4.0,2.0,Brussels,1040,270.0,TO_BE_DONE_UP,FUELOIL,True,E,895000.0
2,2,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,87.0,AS_NEW,FUELOIL,True,F,465000.0
3,3,APARTMENT,APARTMENT,2.0,2.0,Brussels,1040,104.0,AS_NEW,GAS,True,B,590000.0
4,5,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,90.0,TO_BE_DONE_UP,GAS,True,D,375000.0
5,7,APARTMENT,DUPLEX,3.0,2.0,Brussels,1040,220.0,JUST_RENOVATED,GAS,True,D,950000.0
6,8,APARTMENT,DUPLEX,2.0,1.0,Brussels,1040,187.0,AS_NEW,GAS,True,C,795000.0
7,9,APARTMENT,APARTMENT,1.0,1.0,Brussels,1040,93.0,TO_BE_DONE_UP,FUELOIL,True,F,297000.0
8,10,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,120.0,GOOD,GAS,True,G,435000.0
9,11,APARTMENT,APARTMENT,3.0,1.0,Brussels,1040,119.0,TO_RENOVATE,GAS,True,E,370000.0

In [81]:
# Replace NaN to 0 : 
df_70 = df_70.fillna(0)

print(df_70)

       Unnamed: 0       type    subtype  bedroomCount  bathroomCount  \
0               0  APARTMENT  APARTMENT           2.0            1.0
1               1      HOUSE      HOUSE           4.0            2.0
2               2  APARTMENT  APARTMENT           2.0            1.0
3               3  APARTMENT  APARTMENT           2.0            2.0
4               5  APARTMENT  APARTMENT           2.0            1.0
...           ...        ...        ...           ...            ...
56253      380220      HOUSE      HOUSE           4.0            2.0
56254      440319      HOUSE      VILLA           3.0            1.0
56255      440966  APARTMENT  APARTMENT           3.0            1.0
56256      442237  APARTMENT  APARTMENT           3.0            2.0
56257      446550  APARTMENT  APARTMENT           3.0            2.0

              province  postCode  habitableSurface buildingCondition  \
0             Brussels      1040             100.0              GOOD
1             Brussels      1040             270.0     TO_BE_DONE_UP
2             Brussels      1040              87.0            AS_NEW
3             Brussels      1040             104.0            AS_NEW
4             Brussels      1040              90.0     TO_BE_DONE_UP
...                ...       ...               ...               ...
56253    East Flanders      9990             242.0                 0
56254          Antwerp      2830             252.0            AS_NEW
56255  Flemish Brabant      1853             113.0              GOOD
56256    West Flanders      8434             111.0    JUST_RENOVATED
56257          Antwerp      2610             132.0              GOOD

      heatingType hasTerrace epcScore     price
0             GAS       True        C  399000.0
1         FUELOIL       True        E  895000.0
2         FUELOIL       True        F  465000.0
3             GAS       True        B  590000.0
4             GAS       True        D  375000.0
...           ...        ...      ...       ...
56253           0          0        0  649000.0
56254           0       True        B  849000.0
56255         GAS       True        B  299000.0
56256         GAS       True        A  325000.0
56257           0       True        B  340000.0

[56258 rows x 13 columns]

In [82]:
#Replace "True" by 1
df_70 = df_70.replace(True, 1)
print(df_70)

       Unnamed: 0       type    subtype  bedroomCount  bathroomCount  \
0               0  APARTMENT  APARTMENT           2.0            1.0
1               1      HOUSE      HOUSE           4.0            2.0
2               2  APARTMENT  APARTMENT           2.0            1.0
3               3  APARTMENT  APARTMENT           2.0            2.0
4               5  APARTMENT  APARTMENT           2.0            1.0
...           ...        ...        ...           ...            ...
56253      380220      HOUSE      HOUSE           4.0            2.0
56254      440319      HOUSE      VILLA           3.0            1.0
56255      440966  APARTMENT  APARTMENT           3.0            1.0
56256      442237  APARTMENT  APARTMENT           3.0            2.0
56257      446550  APARTMENT  APARTMENT           3.0            2.0

              province  postCode  habitableSurface buildingCondition  \
0             Brussels      1040             100.0              GOOD
1             Brussels      1040             270.0     TO_BE_DONE_UP
2             Brussels      1040              87.0            AS_NEW
3             Brussels      1040             104.0            AS_NEW
4             Brussels      1040              90.0     TO_BE_DONE_UP
...                ...       ...               ...               ...
56253    East Flanders      9990             242.0                 0
56254          Antwerp      2830             252.0            AS_NEW
56255  Flemish Brabant      1853             113.0              GOOD
56256    West Flanders      8434             111.0    JUST_RENOVATED
56257          Antwerp      2610             132.0              GOOD

      heatingType  hasTerrace epcScore     price
0             GAS           1        C  399000.0
1         FUELOIL           1        E  895000.0
2         FUELOIL           1        F  465000.0
3             GAS           1        B  590000.0
4             GAS           1        D  375000.0
...           ...         ...      ...       ...
56253           0           0        0  649000.0
56254           0           1        B  849000.0
56255         GAS           1        B  299000.0
56256         GAS           1        A  325000.0
56257           0           1        B  340000.0

[56258 rows x 13 columns]

C:\Users\nattt\AppData\Local\Temp\ipykernel_20756\1071368324.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_70 = df_70.replace(True, 1)

In [83]:
df_70.head(10)

,Unnamed: 0,type,subtype,bedroomCount,bathroomCount,province,postCode,habitableSurface,buildingCondition,heatingType,hasTerrace,epcScore,price
0,0,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,100.0,GOOD,GAS,1,C,399000.0
1,1,HOUSE,HOUSE,4.0,2.0,Brussels,1040,270.0,TO_BE_DONE_UP,FUELOIL,1,E,895000.0
2,2,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,87.0,AS_NEW,FUELOIL,1,F,465000.0
3,3,APARTMENT,APARTMENT,2.0,2.0,Brussels,1040,104.0,AS_NEW,GAS,1,B,590000.0
4,5,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,90.0,TO_BE_DONE_UP,GAS,1,D,375000.0
5,7,APARTMENT,DUPLEX,3.0,2.0,Brussels,1040,220.0,JUST_RENOVATED,GAS,1,D,950000.0
6,8,APARTMENT,DUPLEX,2.0,1.0,Brussels,1040,187.0,AS_NEW,GAS,1,C,795000.0
7,9,APARTMENT,APARTMENT,1.0,1.0,Brussels,1040,93.0,TO_BE_DONE_UP,FUELOIL,1,F,297000.0
8,10,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,120.0,GOOD,GAS,1,G,435000.0
9,11,APARTMENT,APARTMENT,3.0,1.0,Brussels,1040,119.0,TO_RENOVATE,GAS,1,E,370000.0

In [84]:
df_70.to_csv("df70_clean.csv", index=False, encoding='utf-8')