DATA CLEANING

In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = './data/Kangaroo.csv'
Kangaroo = pd.read_csv(data, sep = ',')
df = pd.DataFrame(Kangaroo)

print(df)

       Unnamed: 0          id  \
0               0  20661494.0
1               1  20647642.0
2               2  20644816.0
3               3  20659813.0
4               4  20633249.0
...           ...         ...
80363      440319  20663057.0
80364      440364  20664347.0
80365      440966  20664354.0
80366      442237  20664377.0
80367      446550  20664387.0

                                                     url       type  \
0      https://www.immoweb.be/en/classified/apartment...  APARTMENT
1      https://www.immoweb.be/en/classified/house/for...      HOUSE
2      https://www.immoweb.be/en/classified/apartment...  APARTMENT
3      https://www.immoweb.be/en/classified/apartment...  APARTMENT
4      https://www.immoweb.be/en/classified/flat-stud...  APARTMENT
...                                                  ...        ...
80363  https://www.immoweb.be/en/classified/villa/for...      HOUSE
80364  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80365  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80366  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80367  https://www.immoweb.be/en/classified/apartment...  APARTMENT

           subtype  bedroomCount  bathroomCount         province  \
0        APARTMENT           2.0            1.0         Brussels
1            HOUSE           4.0            2.0         Brussels
2        APARTMENT           2.0            1.0         Brussels
3        APARTMENT           2.0            2.0         Brussels
4      FLAT_STUDIO           1.0            1.0         Brussels
...            ...           ...            ...              ...
80363        VILLA           3.0            1.0          Antwerp
80364    APARTMENT           3.0            1.0         Brussels
80365    APARTMENT           3.0            1.0  Flemish Brabant
80366    APARTMENT           3.0            2.0    West Flanders
80367    APARTMENT           3.0            2.0          Antwerp

                         locality  postCode  ...  hasOffice  toiletCount  \
0                       Etterbeek      1040  ...        NaN          1.0
1                       Etterbeek      1040  ...       True          3.0
2                       Etterbeek      1040  ...        NaN          1.0
3                       Bruxelles      1040  ...        NaN          2.0
4                       Etterbeek      1040  ...        NaN          1.0
...                           ...       ...  ...        ...          ...
80363                  Willebroek      2830  ...        NaN          3.0
80364                       Jette      1090  ...        NaN          1.0
80365  Grimbergen Strombeek-Bever      1853  ...        NaN          1.0
80366                    Westende      8434  ...        NaN          2.0
80367                     Wilrijk      2610  ...        NaN          2.0

       hasSwimmingPool hasFireplace hasTerrace terraceSurface  \
0                  NaN          NaN       True            7.0
1                  NaN          NaN       True            1.0
2                  NaN          NaN       True            2.0
3                  NaN          NaN       True            3.0
4                  NaN          NaN        NaN            NaN
...                ...          ...        ...            ...
80363             True          NaN       True            NaN
80364              NaN          NaN       True           10.0
80365              NaN          NaN       True            9.0
80366              NaN          NaN       True            NaN
80367              NaN          NaN       True            NaN

       terraceOrientation accessibleDisabledPeople epcScore     price
0                     NaN                      NaN        C  399000.0
1                     NaN                      NaN        E  895000.0
2                     NaN                      NaN        F  465000.0
3                     NaN                      NaN        B  590000.0
4                     NaN                      NaN        E  289000.0
...                   ...                      ...      ...       ...
80363                 NaN                      NaN        B  849000.0
80364                 NaN                      NaN        D  279000.0
80365                 NaN                      NaN        B  299000.0
80366                 NaN                      NaN        A  325000.0
80367                 NaN                      NaN        B  340000.0

[80368 rows x 53 columns]

In [3]:
# Search if there are duplicates and remove it
duplicates = df.duplicated()
df.drop_duplicates(inplace=True)
print(duplicates.count)

<bound method Series.count of 0        False
1        False
2        False
3        False
4        False
         ...
80363    False
80364    False
80365    False
80366    False
80367    False
Length: 80368, dtype: bool>

In [4]:
na_values = df.isnull().sum()
missing_percent = (na_values/ len(df)) * 100
print (missing_percent.round(2))

Unnamed: 0                    0.00
id                            0.00
url                           0.00
type                          0.00
subtype                       0.00
bedroomCount                  8.47
bathroomCount                17.04
province                      0.00
locality                      0.00
postCode                      0.00
habitableSurface             15.66
roomCount                    72.69
monthlyCost                 100.00
hasAttic                     84.43
hasBasement                  63.52
hasDressingRoom              96.73
diningRoomSurface            91.41
hasDiningRoom                82.40
buildingCondition            27.84
buildingConstructionYear     38.90
facedeCount                  33.76
floorCount                   53.28
streetFacadeWidth            80.70
hasLift                      76.30
floodZoneType                44.67
heatingType                  41.33
hasHeatPump                  90.70
hasPhotovoltaicPanels        89.99
hasThermicPanels             96.13
kitchenSurface               69.81
kitchenType                  47.84
landSurface                  50.80
hasLivingRoom                46.65
livingRoomSurface            63.98
hasBalcony                  100.00
hasGarden                    80.14
gardenSurface                80.14
gardenOrientation            93.03
parkingCountIndoor           64.86
parkingCountOutdoor          77.20
hasAirConditioning           98.60
hasArmoredDoor               95.40
hasVisiophone                80.10
hasOffice                    87.08
toiletCount                  31.45
hasSwimmingPool              97.74
hasFireplace                 96.21
hasTerrace                   40.99
terraceSurface               64.41
terraceOrientation           85.99
accessibleDisabledPeople    100.00
epcScore                     18.64
price                         4.97
dtype: float64

In [5]:
for col in df.columns:
    if missing_percent[col] > 50:
        df.drop(columns=col, inplace=True)
print(df.info)

<bound method DataFrame.info of        Unnamed: 0          id  \
0               0  20661494.0
1               1  20647642.0
2               2  20644816.0
3               3  20659813.0
4               4  20633249.0
...           ...         ...
80363      440319  20663057.0
80364      440364  20664347.0
80365      440966  20664354.0
80366      442237  20664377.0
80367      446550  20664387.0

                                                     url       type  \
0      https://www.immoweb.be/en/classified/apartment...  APARTMENT
1      https://www.immoweb.be/en/classified/house/for...      HOUSE
2      https://www.immoweb.be/en/classified/apartment...  APARTMENT
3      https://www.immoweb.be/en/classified/apartment...  APARTMENT
4      https://www.immoweb.be/en/classified/flat-stud...  APARTMENT
...                                                  ...        ...
80363  https://www.immoweb.be/en/classified/villa/for...      HOUSE
80364  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80365  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80366  https://www.immoweb.be/en/classified/apartment...  APARTMENT
80367  https://www.immoweb.be/en/classified/apartment...  APARTMENT

           subtype  bedroomCount  bathroomCount         province  \
0        APARTMENT           2.0            1.0         Brussels
1            HOUSE           4.0            2.0         Brussels
2        APARTMENT           2.0            1.0         Brussels
3        APARTMENT           2.0            2.0         Brussels
4      FLAT_STUDIO           1.0            1.0         Brussels
...            ...           ...            ...              ...
80363        VILLA           3.0            1.0          Antwerp
80364    APARTMENT           3.0            1.0         Brussels
80365    APARTMENT           3.0            1.0  Flemish Brabant
80366    APARTMENT           3.0            2.0    West Flanders
80367    APARTMENT           3.0            2.0          Antwerp

                         locality  postCode  ...  buildingConstructionYear  \
0                       Etterbeek      1040  ...                    2004.0
1                       Etterbeek      1040  ...                    1910.0
2                       Etterbeek      1040  ...                    1970.0
3                       Bruxelles      1040  ...                    2018.0
4                       Etterbeek      1040  ...                    1906.0
...                           ...       ...  ...                       ...
80363                  Willebroek      2830  ...                    2008.0
80364                       Jette      1090  ...                    1970.0
80365  Grimbergen Strombeek-Bever      1853  ...                    1964.0
80366                    Westende      8434  ...                       NaN
80367                     Wilrijk      2610  ...                    1964.0

      facedeCount          floodZoneType  heatingType     kitchenType  \
0             1.0         NON_FLOOD_ZONE          GAS   SEMI_EQUIPPED
1             2.0         NON_FLOOD_ZONE      FUELOIL       INSTALLED
2             2.0                    NaN      FUELOIL  HYPER_EQUIPPED
3             NaN  RECOGNIZED_FLOOD_ZONE          GAS  HYPER_EQUIPPED
4             2.0         NON_FLOOD_ZONE          GAS       INSTALLED
...           ...                    ...          ...             ...
80363         4.0         NON_FLOOD_ZONE          NaN             NaN
80364         4.0         NON_FLOOD_ZONE          GAS   SEMI_EQUIPPED
80365         NaN                    NaN          GAS  HYPER_EQUIPPED
80366         NaN                    NaN          GAS             NaN
80367         NaN         NON_FLOOD_ZONE          NaN             NaN

      hasLivingRoom toiletCount hasTerrace  epcScore     price
0              True         1.0       True         C  399000.0
1              True         3.0       True         E  895000.0
2              True         1.0       True         F  465000.0
3              True         2.0       True         B  590000.0
4               NaN         1.0        NaN         E  289000.0
...             ...         ...        ...       ...       ...
80363          True         3.0       True         B  849000.0
80364          True         1.0       True         D  279000.0
80365          True         1.0       True         B  299000.0
80366          True         2.0       True         A  325000.0
80367          True         2.0       True         B  340000.0

[80368 rows x 22 columns]>

In [6]:
print(df.shape)
print(df.columns)

(80368, 22)
Index(['Unnamed: 0', 'id', 'url', 'type', 'subtype', 'bedroomCount',
       'bathroomCount', 'province', 'locality', 'postCode', 'habitableSurface',
       'buildingCondition', 'buildingConstructionYear', 'facedeCount',
       'floodZoneType', 'heatingType', 'kitchenType', 'hasLivingRoom',
       'toiletCount', 'hasTerrace', 'epcScore', 'price'],
      dtype='object')

In [7]:
#Remove unuseful and unrelevant columns: 
df = df.drop(columns=['url','id','kitchenType','toiletCount','buildingConstructionYear','heatingType', 'floodZoneType','locality','hasLivingRoom'], errors='ignore')
df.drop(columns=['Unnamed: 0'], inplace=True)
print(df)

            type      subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT    APARTMENT           2.0            1.0         Brussels
1          HOUSE        HOUSE           4.0            2.0         Brussels
2      APARTMENT    APARTMENT           2.0            1.0         Brussels
3      APARTMENT    APARTMENT           2.0            2.0         Brussels
4      APARTMENT  FLAT_STUDIO           1.0            1.0         Brussels
...          ...          ...           ...            ...              ...
80363      HOUSE        VILLA           3.0            1.0          Antwerp
80364  APARTMENT    APARTMENT           3.0            1.0         Brussels
80365  APARTMENT    APARTMENT           3.0            1.0  Flemish Brabant
80366  APARTMENT    APARTMENT           3.0            2.0    West Flanders
80367  APARTMENT    APARTMENT           3.0            2.0          Antwerp

       postCode  habitableSurface buildingCondition  facedeCount hasTerrace  \
0          1040             100.0              GOOD          1.0       True
1          1040             270.0     TO_BE_DONE_UP          2.0       True
2          1040              87.0            AS_NEW          2.0       True
3          1040             104.0            AS_NEW          NaN       True
4          1040              71.0            AS_NEW          2.0        NaN
...         ...               ...               ...          ...        ...
80363      2830             252.0            AS_NEW          4.0       True
80364      1090              94.0              GOOD          4.0       True
80365      1853             113.0              GOOD          NaN       True
80366      8434             111.0    JUST_RENOVATED          NaN       True
80367      2610             132.0              GOOD          NaN       True

      epcScore     price
0            C  399000.0
1            E  895000.0
2            F  465000.0
3            B  590000.0
4            E  289000.0
...        ...       ...
80363        B  849000.0
80364        D  279000.0
80365        B  299000.0
80366        A  325000.0
80367        B  340000.0

[80368 rows x 12 columns]

In [8]:
df_filtered = df[df['type'] == 'HOUSE_GROUP']
print(df_filtered.shape)
print(df_filtered)

(1565, 12)
              type      subtype  bedroomCount  bathroomCount       province  \
670    HOUSE_GROUP  HOUSE_GROUP           NaN            NaN       Brussels
1303   HOUSE_GROUP  HOUSE_GROUP           NaN            NaN       Brussels
1324   HOUSE_GROUP  HOUSE_GROUP           NaN            NaN       Brussels
1433   HOUSE_GROUP  HOUSE_GROUP           NaN            NaN       Brussels
2476   HOUSE_GROUP  HOUSE_GROUP           NaN            NaN       Brussels
...            ...          ...           ...            ...            ...
80091  HOUSE_GROUP  HOUSE_GROUP           NaN            NaN  East Flanders
80128  HOUSE_GROUP  HOUSE_GROUP           NaN            NaN  East Flanders
80256  HOUSE_GROUP  HOUSE_GROUP           NaN            NaN  East Flanders
80289  HOUSE_GROUP  HOUSE_GROUP           NaN            NaN  East Flanders
80307  HOUSE_GROUP  HOUSE_GROUP           NaN            NaN  East Flanders

       postCode  habitableSurface buildingCondition  facedeCount hasTerrace  \
670        1030               NaN               NaN          NaN        NaN
1303       1000               NaN               NaN          NaN        NaN
1324       1000               NaN               NaN          NaN        NaN
1433       1000               NaN               NaN          NaN        NaN
2476       1050               NaN               NaN          NaN        NaN
...         ...               ...               ...          ...        ...
80091      9940               NaN               NaN          NaN        NaN
80128      9940               NaN               NaN          NaN        NaN
80256      9990               NaN               NaN          NaN        NaN
80289      9990               NaN               NaN          NaN        NaN
80307      9990               NaN               NaN          NaN        NaN

      epcScore  price
670        NaN    NaN
1303       NaN    NaN
1324         A    NaN
1433       NaN    NaN
2476       NaN    NaN
...        ...    ...
80091      NaN    NaN
80128      NaN    NaN
80256      NaN    NaN
80289        A    NaN
80307      NaN    NaN

[1565 rows x 12 columns]

In [9]:
df_filtered = df[df['type'] == 'APARTMENT_GROUP']
print(df_filtered.shape)
print(df_filtered)

(2425, 12)
                  type          subtype  bedroomCount  bathroomCount  \
13     APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
25     APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
131    APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
296    APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
302    APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
...                ...              ...           ...            ...
79935  APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
80243  APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
80255  APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
80273  APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN
80337  APARTMENT_GROUP  APARTMENT_GROUP           NaN            NaN

            province  postCode  habitableSurface buildingCondition  \
13          Brussels      1040               NaN               NaN
25          Brussels      1040               NaN               NaN
131         Brussels      1040               NaN               NaN
296         Brussels      1020               NaN               NaN
302         Brussels      1020               NaN               NaN
...              ...       ...               ...               ...
79935  East Flanders      9900               NaN               NaN
80243  East Flanders      9990               NaN               NaN
80255  East Flanders      9990               NaN               NaN
80273  East Flanders      9990               NaN               NaN
80337  East Flanders      9990               NaN               NaN

       facedeCount hasTerrace epcScore  price
13             NaN        NaN        A    NaN
25             NaN        NaN        C    NaN
131            NaN        NaN       A+    NaN
296            NaN        NaN        B    NaN
302            NaN        NaN        B    NaN
...            ...        ...      ...    ...
79935          NaN        NaN      NaN    NaN
80243          NaN        NaN      NaN    NaN
80255          NaN        NaN      NaN    NaN
80273          NaN        NaN      NaN    NaN
80337          NaN        NaN      NaN    NaN

[2425 rows x 12 columns]

In [10]:
# Delete row for house_group and apartment_group
df = df[~df['type'].isin(['HOUSE_GROUP', 'APARTMENT_GROUP'])]
print(df.shape)

(76378, 12)

In [11]:
df_appart = df[df['type'] == 'APARTMENT']
df_house = df[df['type'] == 'HOUSE']

In [12]:
print(df_appart['facedeCount'].mode())
print(df_house['facedeCount'].mode())

0    2.0
Name: facedeCount, dtype: float64
0    4.0
Name: facedeCount, dtype: float64

In [13]:
#Replace by Mode value for NaN facadecount 
df['facedeCount'] = df['facedeCount'].fillna(df['facedeCount'].mode()[0])
print(df)

            type      subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT    APARTMENT           2.0            1.0         Brussels
1          HOUSE        HOUSE           4.0            2.0         Brussels
2      APARTMENT    APARTMENT           2.0            1.0         Brussels
3      APARTMENT    APARTMENT           2.0            2.0         Brussels
4      APARTMENT  FLAT_STUDIO           1.0            1.0         Brussels
...          ...          ...           ...            ...              ...
80363      HOUSE        VILLA           3.0            1.0          Antwerp
80364  APARTMENT    APARTMENT           3.0            1.0         Brussels
80365  APARTMENT    APARTMENT           3.0            1.0  Flemish Brabant
80366  APARTMENT    APARTMENT           3.0            2.0    West Flanders
80367  APARTMENT    APARTMENT           3.0            2.0          Antwerp

       postCode  habitableSurface buildingCondition  facedeCount hasTerrace  \
0          1040             100.0              GOOD          1.0       True
1          1040             270.0     TO_BE_DONE_UP          2.0       True
2          1040              87.0            AS_NEW          2.0       True
3          1040             104.0            AS_NEW          2.0       True
4          1040              71.0            AS_NEW          2.0        NaN
...         ...               ...               ...          ...        ...
80363      2830             252.0            AS_NEW          4.0       True
80364      1090              94.0              GOOD          4.0       True
80365      1853             113.0              GOOD          2.0       True
80366      8434             111.0    JUST_RENOVATED          2.0       True
80367      2610             132.0              GOOD          2.0       True

      epcScore     price
0            C  399000.0
1            E  895000.0
2            F  465000.0
3            B  590000.0
4            E  289000.0
...        ...       ...
80363        B  849000.0
80364        D  279000.0
80365        B  299000.0
80366        A  325000.0
80367        B  340000.0

[76378 rows x 12 columns]

In [14]:
print(df_appart['buildingCondition'].mode())
print(df_house['buildingCondition'].mode())

0    GOOD
Name: buildingCondition, dtype: object
0    GOOD
Name: buildingCondition, dtype: object

In [15]:
#Replace by Mode value for NaN BuildingCondition
df['buildingCondition'] = df['buildingCondition'].fillna(df['buildingCondition'].mode()[0])
print(df)

            type      subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT    APARTMENT           2.0            1.0         Brussels
1          HOUSE        HOUSE           4.0            2.0         Brussels
2      APARTMENT    APARTMENT           2.0            1.0         Brussels
3      APARTMENT    APARTMENT           2.0            2.0         Brussels
4      APARTMENT  FLAT_STUDIO           1.0            1.0         Brussels
...          ...          ...           ...            ...              ...
80363      HOUSE        VILLA           3.0            1.0          Antwerp
80364  APARTMENT    APARTMENT           3.0            1.0         Brussels
80365  APARTMENT    APARTMENT           3.0            1.0  Flemish Brabant
80366  APARTMENT    APARTMENT           3.0            2.0    West Flanders
80367  APARTMENT    APARTMENT           3.0            2.0          Antwerp

       postCode  habitableSurface buildingCondition  facedeCount hasTerrace  \
0          1040             100.0              GOOD          1.0       True
1          1040             270.0     TO_BE_DONE_UP          2.0       True
2          1040              87.0            AS_NEW          2.0       True
3          1040             104.0            AS_NEW          2.0       True
4          1040              71.0            AS_NEW          2.0        NaN
...         ...               ...               ...          ...        ...
80363      2830             252.0            AS_NEW          4.0       True
80364      1090              94.0              GOOD          4.0       True
80365      1853             113.0              GOOD          2.0       True
80366      8434             111.0    JUST_RENOVATED          2.0       True
80367      2610             132.0              GOOD          2.0       True

      epcScore     price
0            C  399000.0
1            E  895000.0
2            F  465000.0
3            B  590000.0
4            E  289000.0
...        ...       ...
80363        B  849000.0
80364        D  279000.0
80365        B  299000.0
80366        A  325000.0
80367        B  340000.0

[76378 rows x 12 columns]

In [16]:
print(df_appart['epcScore'].mode())
print(df_house['epcScore'].mode())

0    B
Name: epcScore, dtype: object
0    F
Name: epcScore, dtype: object

In [17]:
df.loc[(df['type'] == 'APARTMENT') & (df['epcScore'].isna()), 'epcScore'] = 'B'
df.loc[(df['type'] == 'HOUSE') & (df['epcScore'].isna()), 'epcScore'] = 'F'
print(df)

            type      subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT    APARTMENT           2.0            1.0         Brussels
1          HOUSE        HOUSE           4.0            2.0         Brussels
2      APARTMENT    APARTMENT           2.0            1.0         Brussels
3      APARTMENT    APARTMENT           2.0            2.0         Brussels
4      APARTMENT  FLAT_STUDIO           1.0            1.0         Brussels
...          ...          ...           ...            ...              ...
80363      HOUSE        VILLA           3.0            1.0          Antwerp
80364  APARTMENT    APARTMENT           3.0            1.0         Brussels
80365  APARTMENT    APARTMENT           3.0            1.0  Flemish Brabant
80366  APARTMENT    APARTMENT           3.0            2.0    West Flanders
80367  APARTMENT    APARTMENT           3.0            2.0          Antwerp

       postCode  habitableSurface buildingCondition  facedeCount hasTerrace  \
0          1040             100.0              GOOD          1.0       True
1          1040             270.0     TO_BE_DONE_UP          2.0       True
2          1040              87.0            AS_NEW          2.0       True
3          1040             104.0            AS_NEW          2.0       True
4          1040              71.0            AS_NEW          2.0        NaN
...         ...               ...               ...          ...        ...
80363      2830             252.0            AS_NEW          4.0       True
80364      1090              94.0              GOOD          4.0       True
80365      1853             113.0              GOOD          2.0       True
80366      8434             111.0    JUST_RENOVATED          2.0       True
80367      2610             132.0              GOOD          2.0       True

      epcScore     price
0            C  399000.0
1            E  895000.0
2            F  465000.0
3            B  590000.0
4            E  289000.0
...        ...       ...
80363        B  849000.0
80364        D  279000.0
80365        B  299000.0
80366        A  325000.0
80367        B  340000.0

[76378 rows x 12 columns]

In [18]:
print((df_appart['habitableSurface'].mean()).round(2))
print(df_appart['habitableSurface'].mode())
print(df_appart['habitableSurface'].median())
print(df_appart['habitableSurface'].min())
print(df_appart['habitableSurface'].max())

104.02
0    90.0
Name: habitableSurface, dtype: float64
91.0
10.0
65000.0

In [19]:

print((df_house['habitableSurface'].mean()).round(2))
print(df_house['habitableSurface'].mode())
print(df_house['habitableSurface'].median())
print(df_house['habitableSurface'].min())
print(df_house['habitableSurface'].max())

233.45
0    150.0
Name: habitableSurface, dtype: float64
182.0
6.0
185347.0

In [20]:
#Replace missing value NaN by median for habitableSurface
df.loc[(df['type'] == 'APARTMENT') & (df['habitableSurface'].isna()), 'habitableSurface'] = 91.0
df.loc[(df['type'] == 'HOUSE') & (df['habitableSurface'].isna()), 'habitableSurface'] = 182.0
print(df)

            type      subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT    APARTMENT           2.0            1.0         Brussels
1          HOUSE        HOUSE           4.0            2.0         Brussels
2      APARTMENT    APARTMENT           2.0            1.0         Brussels
3      APARTMENT    APARTMENT           2.0            2.0         Brussels
4      APARTMENT  FLAT_STUDIO           1.0            1.0         Brussels
...          ...          ...           ...            ...              ...
80363      HOUSE        VILLA           3.0            1.0          Antwerp
80364  APARTMENT    APARTMENT           3.0            1.0         Brussels
80365  APARTMENT    APARTMENT           3.0            1.0  Flemish Brabant
80366  APARTMENT    APARTMENT           3.0            2.0    West Flanders
80367  APARTMENT    APARTMENT           3.0            2.0          Antwerp

       postCode  habitableSurface buildingCondition  facedeCount hasTerrace  \
0          1040             100.0              GOOD          1.0       True
1          1040             270.0     TO_BE_DONE_UP          2.0       True
2          1040              87.0            AS_NEW          2.0       True
3          1040             104.0            AS_NEW          2.0       True
4          1040              71.0            AS_NEW          2.0        NaN
...         ...               ...               ...          ...        ...
80363      2830             252.0            AS_NEW          4.0       True
80364      1090              94.0              GOOD          4.0       True
80365      1853             113.0              GOOD          2.0       True
80366      8434             111.0    JUST_RENOVATED          2.0       True
80367      2610             132.0              GOOD          2.0       True

      epcScore     price
0            C  399000.0
1            E  895000.0
2            F  465000.0
3            B  590000.0
4            E  289000.0
...        ...       ...
80363        B  849000.0
80364        D  279000.0
80365        B  299000.0
80366        A  325000.0
80367        B  340000.0

[76378 rows x 12 columns]

In [21]:
na_values = df.isnull().sum()
missing_percent = (na_values/ len(df)) * 100
print (missing_percent.round(2))

type                  0.00
subtype               0.00
bedroomCount          3.69
bathroomCount        12.71
province              0.00
postCode              0.00
habitableSurface      0.00
buildingCondition     0.00
facedeCount           0.00
hasTerrace           37.90
epcScore              0.00
price                 0.01
dtype: float64

In [22]:
# Replace NaN to 0 : 
df = df.fillna(0)

print(df)

            type      subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT    APARTMENT           2.0            1.0         Brussels
1          HOUSE        HOUSE           4.0            2.0         Brussels
2      APARTMENT    APARTMENT           2.0            1.0         Brussels
3      APARTMENT    APARTMENT           2.0            2.0         Brussels
4      APARTMENT  FLAT_STUDIO           1.0            1.0         Brussels
...          ...          ...           ...            ...              ...
80363      HOUSE        VILLA           3.0            1.0          Antwerp
80364  APARTMENT    APARTMENT           3.0            1.0         Brussels
80365  APARTMENT    APARTMENT           3.0            1.0  Flemish Brabant
80366  APARTMENT    APARTMENT           3.0            2.0    West Flanders
80367  APARTMENT    APARTMENT           3.0            2.0          Antwerp

       postCode  habitableSurface buildingCondition  facedeCount hasTerrace  \
0          1040             100.0              GOOD          1.0       True
1          1040             270.0     TO_BE_DONE_UP          2.0       True
2          1040              87.0            AS_NEW          2.0       True
3          1040             104.0            AS_NEW          2.0       True
4          1040              71.0            AS_NEW          2.0          0
...         ...               ...               ...          ...        ...
80363      2830             252.0            AS_NEW          4.0       True
80364      1090              94.0              GOOD          4.0       True
80365      1853             113.0              GOOD          2.0       True
80366      8434             111.0    JUST_RENOVATED          2.0       True
80367      2610             132.0              GOOD          2.0       True

      epcScore     price
0            C  399000.0
1            E  895000.0
2            F  465000.0
3            B  590000.0
4            E  289000.0
...        ...       ...
80363        B  849000.0
80364        D  279000.0
80365        B  299000.0
80366        A  325000.0
80367        B  340000.0

[76378 rows x 12 columns]

In [23]:
#Replace "True" by 1
df = df.replace(True, 1)
print(df)

            type      subtype  bedroomCount  bathroomCount         province  \
0      APARTMENT    APARTMENT           2.0            1.0         Brussels
1          HOUSE        HOUSE           4.0            2.0         Brussels
2      APARTMENT    APARTMENT           2.0            1.0         Brussels
3      APARTMENT    APARTMENT           2.0            2.0         Brussels
4      APARTMENT  FLAT_STUDIO           1.0            1.0         Brussels
...          ...          ...           ...            ...              ...
80363      HOUSE        VILLA           3.0            1.0          Antwerp
80364  APARTMENT    APARTMENT           3.0            1.0         Brussels
80365  APARTMENT    APARTMENT           3.0            1.0  Flemish Brabant
80366  APARTMENT    APARTMENT           3.0            2.0    West Flanders
80367  APARTMENT    APARTMENT           3.0            2.0          Antwerp

       postCode  habitableSurface buildingCondition  facedeCount  hasTerrace  \
0          1040             100.0              GOOD          1.0           1
1          1040             270.0     TO_BE_DONE_UP          2.0           1
2          1040              87.0            AS_NEW          2.0           1
3          1040             104.0            AS_NEW          2.0           1
4          1040              71.0            AS_NEW          2.0           0
...         ...               ...               ...          ...         ...
80363      2830             252.0            AS_NEW          4.0           1
80364      1090              94.0              GOOD          4.0           1
80365      1853             113.0              GOOD          2.0           1
80366      8434             111.0    JUST_RENOVATED          2.0           1
80367      2610             132.0              GOOD          2.0           1

      epcScore     price
0            C  399000.0
1            E  895000.0
2            F  465000.0
3            B  590000.0
4            E  289000.0
...        ...       ...
80363        B  849000.0
80364        D  279000.0
80365        B  299000.0
80366        A  325000.0
80367        B  340000.0

[76378 rows x 12 columns]

C:\Users\nattt\AppData\Local\Temp\ipykernel_27476\1717690634.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(True, 1)

In [24]:
df_zero_price = df[df['price'] == 0]
print(df_zero_price)
df_zero_price.shape

            type    subtype  bedroomCount  bathroomCount         province  \
3675       HOUSE      HOUSE           3.0            1.0         Brussels
14535      HOUSE      HOUSE           5.0            1.0  Walloon Brabant
15701      HOUSE      HOUSE           4.0            2.0  Walloon Brabant
24191      HOUSE      HOUSE           3.0            1.0          Antwerp
42798  APARTMENT  APARTMENT           1.0            0.0            Liège
47140      HOUSE      HOUSE           3.0            1.0            Namur
61224  APARTMENT  APARTMENT           2.0            1.0    West Flanders
75452      HOUSE      HOUSE           2.0            1.0    East Flanders

       postCode  habitableSurface buildingCondition  facedeCount  hasTerrace  \
3675       1080             182.0              GOOD          2.0           0
14535      1310             212.0              GOOD          2.0           1
15701      1370             225.0              GOOD          4.0           1
24191      2275             182.0              GOOD          4.0           0
42798      4500              40.0              GOOD          2.0           0
47140      5540             182.0       TO_RENOVATE          3.0           0
61224      8400              91.0            AS_NEW          2.0           0
75452      9420             182.0              GOOD          2.0           0

      epcScore  price
3675         G    0.0
14535        B    0.0
15701        D    0.0
24191        F    0.0
42798        F    0.0
47140        F    0.0
61224        A    0.0
75452        F    0.0

(8, 12)

In [25]:
#Remove all row with pricing == 0. 
df = df[df['price'] != 0]
print(df.shape)

(76370, 12)

In [26]:
na_values = df.isnull().sum()
missing_percent = (na_values/ len(df)) * 100
print (missing_percent.round(2))

type                 0.0
subtype              0.0
bedroomCount         0.0
bathroomCount        0.0
province             0.0
postCode             0.0
habitableSurface     0.0
buildingCondition    0.0
facedeCount          0.0
hasTerrace           0.0
epcScore             0.0
price                0.0
dtype: float64

In [27]:
#Add a columns with price/m2
df['price_per_m2'] = df['price'] / df['habitableSurface']
df['price_per_m2'] = df['price_per_m2'].round(2)
df.columns

Index(['type', 'subtype', 'bedroomCount', 'bathroomCount', 'province',
       'postCode', 'habitableSurface', 'buildingCondition', 'facedeCount',
       'hasTerrace', 'epcScore', 'price', 'price_per_m2'],
      dtype='object')

In [28]:
df.dtypes

type                  object
subtype               object
bedroomCount         float64
bathroomCount        float64
province              object
postCode               int64
habitableSurface     float64
buildingCondition     object
facedeCount          float64
hasTerrace             int64
epcScore              object
price                float64
price_per_m2         float64
dtype: object

In [29]:
df.head(10)

,type,subtype,bedroomCount,bathroomCount,province,postCode,habitableSurface,buildingCondition,facedeCount,hasTerrace,epcScore,price,price_per_m2
0,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,100.0,GOOD,1.0,1,C,399000.0,3990.00
1,HOUSE,HOUSE,4.0,2.0,Brussels,1040,270.0,TO_BE_DONE_UP,2.0,1,E,895000.0,3314.81
2,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,87.0,AS_NEW,2.0,1,F,465000.0,5344.83
3,APARTMENT,APARTMENT,2.0,2.0,Brussels,1040,104.0,AS_NEW,2.0,1,B,590000.0,5673.08
4,APARTMENT,FLAT_STUDIO,1.0,1.0,Brussels,1040,71.0,AS_NEW,2.0,0,E,289000.0,4070.42
5,APARTMENT,APARTMENT,2.0,1.0,Brussels,1040,90.0,TO_BE_DONE_UP,2.0,1,D,375000.0,4166.67
6,APARTMENT,DUPLEX,3.0,2.0,Brussels,1040,220.0,JUST_RENOVATED,2.0,1,D,950000.0,4318.18
7,APARTMENT,DUPLEX,3.0,2.0,Brussels,1040,220.0,JUST_RENOVATED,2.0,1,D,950000.0,4318.18
8,APARTMENT,DUPLEX,2.0,1.0,Brussels,1040,187.0,AS_NEW,2.0,1,C,795000.0,4251.34
9,APARTMENT,APARTMENT,1.0,1.0,Brussels,1040,93.0,TO_BE_DONE_UP,2.0,1,F,297000.0,3193.55

In [30]:
df.to_csv("df_cleandata.csv", index=False, encoding='utf-8')

In [31]:
df.shape

(76370, 13)